#messages{
	margin-left: 3%;
	color: #fff;
	font-size: 18px;
}
.message_send_area{
	text-align: center;
	color:#FF5126;
	font-size: 18px;
	textarea{
		width: 400px;
		height: 36px;
		color:gray;
		font-size: 16px;
	}
}
#info{
	margin-top:5%;
	text-align: center;
	color:#fff;
}